In [1]:
import pandas as pd

In [16]:
df = pd.read_csv('/Users/jrt/Downloads/RPC12_Input_For_Participants/datasets/dim_date.csv')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         36 non-null     object
 1   fiscal_year  36 non-null     int64
 2   quarter      36 non-null     object
dtypes: int64(1), object(2)
memory usage: 996.0+ bytes

In [18]:
df.head()

        date  fiscal_year quarter
0  01-Apr-21         2022      Q1
1  01-May-21         2022      Q1
2  01-Jun-21         2022      Q1
3  01-Jul-21         2022      Q2
4  01-Aug-21         2022      Q2

In [20]:
df.tail()

         date  fiscal_year quarter
31  01-Nov-23         2024      Q3
32  01-Dec-23         2024      Q3
33  01-Jan-24         2024      Q4
34  01-Feb-24         2024      Q4
35  01-Mar-24         2024      Q4

In [6]:
df.describe()

       fiscal_year
count    36.000000
mean   2023.000000
std       0.828079
min    2022.000000
25%    2022.000000
50%    2023.000000
75%    2024.000000
max    2024.000000

In [7]:
df[df.duplicated]

Empty DataFrame
Columns: [date, fiscal_year, quarter]
Index: []

In [26]:
df['date'] = pd.to_datetime(df['date'], format = '%d-%b-%y')

In [31]:
df.to_csv('dim_clean.csv', index = False, encoding = 'utf-8')